$main: #ffd100;
$main2: #ffee32;
$bg: #202020;
$bg2: #333533;
$text: #fafdf6;

$font-main: "Poppins", sans-serif;
$font-title: "Amatic SC", cursive;

$shadow-main: 0px 0px 4px $main, 0px 0px 10px #000;
