@import "./scss/varibles";
@import "./scss/mixins";
@import "./scss/nav";
@import "./scss/header";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $bg;
  color: $text;
  min-height: 1000px;
  padding-top: 65px;
}

a {
  text-decoration: none;
  color: unset;
}
