@import "./scss/varibles";
@import "./scss/mixins";
@import "./scss/loading-screen";
@import "./scss/nav";
@import "./scss/header";
@import "./scss/main";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  @include flexPositioning;
  min-height: 100dvh;
  background-color: $bg;
  color: $text;
  padding-top: 65px;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  font-family: $font-main;
}
